<div style="text-align: center;">
    <h3>Your Random API data is</h3>
    <h1><%= data %> </h1>
    <h3><a href="/">Refresh</a></h3>
    <h4>Want to fetch this using API?<br/>
    use the link<br/>
    <a href="https://code007.herokuapp.com/data">https://code007.herokuapp.com/data</a></h4>
</div>
<div style="margin-top: 30%; text-align: right; margin-right: 5%;">
    Developed and Maintained by MD AREEB ANSAR
</div>